<body class="bg-gradient-to-r from-[#EEE] via-[#F7F7F7] to-[#EEE] text-[#1D1616]">
    <section class="min-h-full py-10 flex items-center justify-center">
        <div class="container mx-auto px-6 grid grid-cols-1 lg:grid-cols-2 gap-6 items-center  overflow-hidden">
            
            <!-- Text Column -->
            <div class="p-8 text-center lg:text-left">
                <h1 class="text-3xl md:text-4xl font-bold mb-4">
                    {{hi}} <span class="text-re-50">{{me}}</span>
                </h1>
                <p class="text-lg mb-6">{{description}}</p>
                <p class="text-sm mb-6">{{ab}} </p>
                <button class="bg-re-50 text-white px-6 py-3 rounded-full hover:bg-re-50 transition">
                    Contáctame
                </button>

                <div class="flex justify-center lg:justify-start mt-6 space-x-4">
                    <a href="{{email}}" class="p-3 bg-wh-100 rounded-full hover:bg-[#D44638] transition">
                        <img src="/assets/icons/email.svg" alt="Email" class="w-5 h-5">
                      </a>
                      <!-- GitHub Link -->
                      <a href="{{github}}" class="p-3 bg-wh-100 rounded-full hover:bg-[#333] transition">
                        <img src="/assets/icons/github.svg" alt="Github" class="w-5 h-5">
                      </a>
                      <!-- Instagram Link -->
                      <a href="{{instagram}}"
                        class="p-3 bg-wh-100 rounded-full hover:bg-gradient-to-r from-[#833AB4] via-[#FD1D1D] to-[#FCB045] transition">
                        <img src="/assets/icons/instagram.svg" alt="Instagram" class="w-5 h-5">
                      </a>
                      <!-- LinkedIn Link -->
                      <a href="{{linkedin}}" class="p-3 bg-wh-100 rounded-full hover:bg-[#0077B5] transition">
                        <img src="/assets/icons/linkedin.svg" alt="LinkedIn" class="w-5 h-5">
                      </a>
                </div>
            </div>

            <!-- Image Column -->
            <div class="flex justify-center items-center">
                <div class="relative">
                    <div class="absolute inset-0 w-70 h-70 border-4 border-dotted border-re-50 rounded-full spin-circle"></div>
                    <img src="/assets/images/yo.png" alt="Profile Picture"
                        class="relative w-80 h-80 object-cover" />
                </div>
            </div>
        </div>
    </section>
</body>
