/* General Style */
section {
    transition: background-color 0.5s ease;
  }
  
  /* Carrousel Cards */
  .carousel-item {
    transition: all 0.3s ease-in-out;
  }
 
  /* Projects Images */
  .carousel-container .carousel-item img {
    transition: transform 0.5s ease, opacity 0.5s ease;
  }
  
  /* Navegation Buttons */
  button {
    transition: all 0.3s ease;
  }
  
  button:hover {
    background-color: #9b2c2c;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  }
  
  /* Icons Buttons */
  .material-icons {
    font-size: 24px;
  }